{% extends "base.html" %}

{% block content %}
<article class="page">
    {#
        article 안의 header(최상위가 아닌)의 경우 landmark로 간주되지 않는다고 함
        TODO: ARIA나 Landmark 같은 웹 접근성 관련 내용 찾아보고 태그 적절하게 바꾸기
          참고: https://developer.mozilla.org/ko/docs/Web/Accessibility
    #}
    <header class="page-header">
        <h1>{{ page.title }}</h1>
        {% if page.description %} <p class="page-description">{{ page.description }}</p> {% endif %}
        <div class="page-meta">
            <time datetime="{{ page.date }}">{{ page.date | date(format="%Y년 %m월 %d일") }}</time>
        </div>
    </header>

    <div class="page-content">
        {{ page.content | safe }}
    </div>
</article>

<!-- For Utterances -->
<section class="comments">
    {# Utterances는 JS에 의존해서 JS 끈 사람을 위한 대체 표현을 추가 #}
    <noscript>댓글을 보려면 JavaScript를 활성화해주세요.</noscript>

    <script src="https://utteranc.es/client.js"
            repo="yangsijun528/sijun-yang.com"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
    {# 위 script가 로딩되면 div.utterances > iframe.utterances-frame 으로 바뀜 #}

    <div class="comments-skeleton"></div>

    <script>
        const observer = new MutationObserver(_ => {
            const utterances = document.querySelector('.utterances');
            if (utterances) {
                const height = utterances.offsetHeight;
                if (height > 200) {
                    document.querySelector('.comments').classList.add('comments-loaded');
                    observer.disconnect();
                }
            }
        });

        observer.observe(document.querySelector('.comments'), {
            childList: true, subtree: true, attributes: true, attributeFilter: ['style']
        });
    </script>
</section>
{% endblock content %}
