<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sijun Yang</title> <!-- TODO: 나중에 이름 바꾸기 -->
    <link rel="stylesheet" href="/modern-css-reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav aria-label="Primary navigation links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Projects</a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
        {% block content %} {% endblock content %}
    </main>

    <footer>
        <p>Sijun Yang</p>
        <p> <!-- TODO: 이거 태그 없이 문자만 있거나, · 같은거 괜찮으려나? 나중에 확인/수정 필요 -->
            Built with <a href="https://www.getzola.org/">Zola</a>
            ·
            <a href="https://github.com/YangSiJun528/sijun-yang.com">Source</a>
        </p>

        <nav aria-label="Footer links">
            <a href="/rss.xml">RSS</a>
            ·
            <a href="/sitemap.xml">Sitemap</a>
            ·
            <a href="/robots.txt">robots.txt</a>
        </nav>
    </footer>
</body>
</html>
